<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.melting.dao.CrawlingDAO">

  	<insert id="saveCrawlingData" parameterType="Crawling">
		INSERT INTO m_crawling 
        	(crawlingseq, title, site, kind, 
        	membername, link, viewscnt, regdate, 
        	sort, likecnt, replycnt)
        VALUES 
        	(m_crawling_seq.NEXTVAL, #{title}, #{site}, #{kind}, 
        	#{membername}, #{link}, #{viewscnt}, #{regdate}, 
        	#{sort}, #{likecnt}, #{replycnt})
	</insert>


<!-- 	
  	<insert id="saveCrawlingData" parameterType="Crawling">
		INSERT INTO m_crawling 
        	(crawlingseq, title, site, kind, replycnt, 
        	membername, link, viewscnt, likecnt, regdate, sort)
        VALUES 
        	(m_crawling_seq.NEXTVAL, #{title}, #{site}, #{kind}, #{replycnt}, 
        	#{membername}, #{link}, #{viewscnt}, #{likecnt}, #{regdate}, #{sort})
	</insert>
	 -->
	
    <select id="countCrawlingData" parameterType="String" resultType="int">
       SELECT COUNT(*) 
       FROM m_crawling
       WHERE site = #{site}
    </select>
	
 	<delete id="deleteOldData" parameterType="String">
	    DELETE FROM m_crawling
		WHERE crawlingseq IN (
		  SELECT crawlingseq
		  FROM (
		    SELECT crawlingseq, ROW_NUMBER() OVER (ORDER BY created_at DESC) AS row_num
		    FROM m_crawling
		    WHERE site = #{site}
		  )
		  WHERE row_num > (SELECT COUNT(*) - 20 FROM m_crawling WHERE site=#{site})
		)
	</delete>
	
	<select id="getCrawlingList" resultType="Crawling">
		SELECT *
		FROM m_crawling
		ORDER BY regdate DESC
	</select>
	
 	<select id="getViewscntSortedList" resultType="Crawling" >
		SELECT *
		FROM m_crawling
		ORDER BY viewscnt DESC
	</select>
	
 	<select id="getLikecntSortedList" resultType="Crawling" >
		SELECT *
		FROM m_crawling
		ORDER BY likecnt DESC
	</select>
	
 	<select id="getReplycntSortedList" resultType="Crawling" >
		SELECT *
		FROM m_crawling
		ORDER BY replycnt DESC
	</select>
	
	<select id="getViewsSortedBestList" resultType="Crawling">
		SELECT *
		FROM m_crawling
		WHERE sort = 'best'
		ORDER BY viewscnt DESC
	</select>
	
	<select id="getViewsSortedHumorList" resultType="Crawling">
		SELECT *
		FROM m_crawling
		WHERE sort = 'humor'
		ORDER BY viewscnt DESC
	</select>
	
	<select id="getViewsSortedGameList" resultType="Crawling">
		SELECT *
		FROM m_crawling
		WHERE sort = 'game'
		ORDER BY viewscnt DESC
	</select>
	
	<select id="getViewsSortedSportsList" resultType="Crawling">
		SELECT *
		FROM m_crawling
		WHERE sort = 'sports'
		ORDER BY viewscnt DESC
	</select>
	
	
	
	
	

</mapper>