<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmls:sec="http://www.thymelef.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Melting | 통합 유머 커뮤니티</title>
<link rel="stylesheet" type="text/css" th:href="@{css/board/main.css}">
</head>
<body>
	<div id="header">
		<div class="header-area">
			<div class="logo"><a th:href="@{/}"><img src="images/meltingLogo.JPG"></a></div>
			<div class="menu">
				<div class="home"><a th:href="@{/board/bestlist}">홈</a></div>
				<div class="all"><a th:href="@{/board/newlist}">전체</a></div>
				<div class="humor">유머</div>
				<div class="game">게임</div>
				<div class="sports">스포츠</div>
			</div>
			<div class="write">
				<a th:href="@{/write}">글쓰기</a>
			</div>
 			<div class="my">
 				<div class="login" sec:authorize="not isAuthenticated()"><a href="#" th:href="@{/loginForm}">로그인</a></div>
 				<div class="myid" sec:authorize="isAuthenticated()"><a th:href="@{/mypage}" th:text="${membername} + '님'"></a></div>
 			</div>				
		</div>
	</div>
	
	<div id="container">
	
		<!-- 왼쪽 영역 -->
		<div id="left">
			<div class="search">
				<div class="search-icon">
					<a th:href="@{#}">
						<img src="images/search-icon.JPG">
					</a>
				</div>
				<input type="text" name="searchWord" class="form-control" placeholder=" 검색어를 입력하세요" onkeypress="if( event.keyCode == 13 ){enterKey();}">
			</div>
			
			<div class="board">
				<div class="board-top">
					<div class="board-title">
						<h3>오늘의 베스트!</h3>
					</div>
					<div class="board-more">
						<a th:href="@{/board/bestlist}">더보기</a>
					</div>
				</div>
				
				<div class="boardlist">
				<!-- 현재 조회수 정렬로 설정 -->
					 <table border='0'>
						 <tr th:each="crawlingData : ${viewscntSortedList}">
							<td>
								<div th:text="${crawlingData.kind}" class="boardlist-kind"></div>
								<div class="boardlist-title"><a th:href="${crawlingData.link}" th:text="${crawlingData.title}"></a></div>
							</td>
							<td>
								<div class="boardlist-reply-area">
									<div class="boardlist-reply-i"><img src="images/reply-i.JPG"></div>
									<div th:text="${crawlingData.replycnt2}" class="boardlist-reply-num"></div>
								</div>
							</td>
							<td>
								<div class="boardlist-like-area">
									<div class="boardlist-like-i"><img src="images/like-i.JPG"></div>
									<div th:text="${crawlingData.likecnt2}" class="boardlist-like-num"></div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>	
			<div class="hit-area">
				<div class="hit-title"><h3>오늘의 HIT!</h3></div>
				<div th:each="crawlingData : ${hitList}">
					<ul class="hit-list">
						<li class="hit-l">
							<a th:href="${crawlingData.link}">
					            <span><img th:src="${crawlingData.image}" /></span>
					            <span class="hit-title2" th:text="${crawlingData.title}"></span>
					        </a>
						</li>
					</ul>
				</div>
			</div>
			<div class="side-board-1">
				<div class="all-area">
					<div class="all-title-area">
						<div class="all-title"><h3>전체</h3></div>
						<div class="all-title-more"><a th:href="@{#}">더보기</a></div>
					</div>
					<div class="all-list">
						<table>
							<tr th:each="crawlingData, iteration : ${viewscntSortedList}" th:if="${iteration.index} &lt; 5">
							    <td><a th:href="${crawlingData.link}" th:text="${crawlingData.title}" class="all-title2"></a></td>
							    <td>
							    	<div class="all-views-area">
							    		<div class="all-views-i"><img src="images/views-i.JPG"></div>
							    		<div th:text="${crawlingData.viewscnt2}" class="all-views-num"></div>
							    	</div>
							    	
							    </td>
							</tr>
						</table>
					</div>
				</div>
				<div class="humor-area">
					<div class="all-title-area">
						<div class="all-title"><h3>유머</h3></div>
						<div class="all-title-more"><a th:href="@{#}">더보기</a></div>
					</div>
					<div class="all-list">
						<table>
							<tr th:each="crawlingData, iteration : ${viewscntSortedList}" th:if="${iteration.index} &lt; 5">
							    <td><a th:href="${crawlingData.link}" th:text="${crawlingData.title}" class="all-title2"></a></td>
							    <td>
							    	<div class="all-views-area">
							    		<div class="all-views-i"><img src="images/views-i.JPG"></div>
							    		<div th:text="${crawlingData.viewscnt2}" class="all-views-num"></div>
							    	</div>
							    	
							    </td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="side-board-2">
				<div class="game-area">
					<div class="all-title-area">
						<div class="all-title"><h3>게임</h3></div>
						<div class="all-title-more"><a th:href="@{#}">더보기</a></div>
					</div>
					<div class="all-list">
						<table>
							<tr th:each="crawlingData, iteration : ${viewscntSortedList}" th:if="${iteration.index} &lt; 5">
							    <td><a th:href="${crawlingData.link}" th:text="${crawlingData.title}" class="all-title2"></a></td>
							    <td>
							    	<div class="all-views-area">
							    		<div class="all-views-i"><img src="images/views-i.JPG"></div>
							    		<div th:text="${crawlingData.viewscnt2}" class="all-views-num"></div>
							    	</div>
							    	
							    </td>
							</tr>
						</table>
					</div>
				</div>
				<div class="sports-area">
					<div class="all-title-area">
						<div class="all-title"><h3>스포츠</h3></div>
						<div class="all-title-more"><a th:href="@{#}">더보기</a></div>
					</div>
					<div class="all-list">
						<table>
							<tr th:each="crawlingData, iteration : ${viewscntSortedList}" th:if="${iteration.index} &lt; 5">
							    <td><a th:href="${crawlingData.link}" th:text="${crawlingData.title}" class="all-title2"></a></td>
							    <td>
							    	<div class="all-views-area">
							    		<div class="all-views-i"><img src="images/views-i.JPG"></div>
							    		<div th:text="${crawlingData.viewscnt2}" class="all-views-num"></div>
							    	</div>
							    	
							    </td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- 오른쪽 영역 -->
		<div id="right">
			<div class="bestsearch">
				<h3>인기 검색어</h3>
				<div class="bestsearch-list">
					<div th:each="crawlingData, index : ${dcSearchList}">
						<p><span th:text="${index.index + 1}"></span><a th:href="${crawlingData.link}" th:text=${crawlingData.title}></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 밑 영역 -->
	<div id="footer">
		<div class="footer-area">
			<div class="f-logo"><a th:href="@{/}"><img src="images/meltingLogo.JPG"></a></div>
			<div class="footer-list">
				<a th:href="@{#}">서비스소개 &nbsp;&nbsp;|&nbsp;&nbsp;</a>
				<a th:href="@{#}">공지사항 &nbsp;&nbsp;|&nbsp;&nbsp;</a>
				<a th:href="@{#}">연락처 &nbsp;&nbsp;|&nbsp;&nbsp;</a>
				<a th:href="@{#}">신고가이드</a>
			</div>
		</div>
	</div>
	
</body>
</html>