<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmls:sec="http://www.thymelef.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Melting | 통합 유머 커뮤니티</title>
<link rel="stylesheet" type="text/css" th:href="@{css/board/read.css}">
</head>
<body>
	<div id="header">
		<div class="header-area">
			<div class="logo"><a th:href="@{/}"><img src="images/meltingLogo.JPG"></a></div>
			<div class="menu">
				<div class="home"><a th:href="@{/board/bestlist}">홈</a></div>
				<div class="all"><a th:href="@{/board/newlist}">전체</a></div>
				<div class="humor">유머</div>
				<div class="game">게임</div>
				<div class="sports">스포츠</div>
			</div>
			<div class="write">
				<a th:href="@{/write}">글쓰기</a>
			</div>
 			<div class="my">
 				<div class="login" sec:authorize="not isAuthenticated()"><a href="#" th:href="@{/loginForm}">로그인</a></div>
 				<div class="myid" sec:authorize="isAuthenticated()"><a th:href="@{/mypage}" th:text="${membername} + '님'"></a></div>
 			</div>				
		</div>
	</div>
	
	<div id="container">
	
		<div id="left">
			<div class="top-area">
				<span th:if="${board.kind=='free'}">자유</span>
				<span th:if="${board.kind=='humor'}">유머</span>
				<span th:if="${board.kind=='game'}">게임</span>
				<span th:if="${board.kind=='sports'}">스포츠</span>
				<h2 th:text="${board.title}"></h2>
				
				<div class="name-area">
					<span th:text="${board.membername}"></span>
				</div>
				
				<div class="info-area">
					<div class="boardlist-regdate-area">
						<div class="boardlist-regdate-i"><img th:src="@{/images/regdate-i.JPG}"></div>
						<div th:text="${board.regdate}" class="boardlist-regdate-num"></div>
					</div>
					<div class="boardlist-views-area">
						<div class="boardlist-views-i"><img th:src="@{/images/views-i.JPG}"></div>
						<div th:text="${board.viewscnt}" class="boardlist-views-num"></div>
					</div>
					<div class="boardlist-reply-area">
						<div class="boardlist-reply-i"><img th:src="@{/images/reply-i.JPG}"></div>
						<div th:text="${board.replycnt}" class="boardlist-reply-num"></div>
					</div>
				</div>
			</div>	
			<div class="content-area">
			  
				<div th:utext="${board.content}"></div>
				<img th:if="${board.originalfile}" th:src="@{/board/download(boardseq=${board.boardseq})}" />
				<div><a th:href="@{/board/download(boardseq=${board.boardseq})}" th:if="${board.originalfile}"></a></div>
			  
				<div class="content-info-area">
					<div class="content-info2-area">
						<form th:action="@{/updatelikecount}" method="POST">
							<input type="hidden" name="boardseq" th:value="${board.boardseq}">
							<input type="image" th:src="@{/images/like-i2.JPG}" class="content-info2-i">
							<div th:text="${board.likecnt}" class="content-info2-num"></div>
						</form>
					</div>
					
					<div class="content-info2-area">
						<div class="content-info2-i"><img th:src="@{/images/reply-i2.JPG}"></div>
						<div th:text="${board.replycnt}" class="content-info2-num"></div>
					</div>
					
					<div class="content-info3-area">
						<th:block th:if="${#authentication.name} == ${board.memberid}">
							<a th:href="@{/update(boardseq=${board.boardseq})}">수정</a> 
							<a th:href="@{/delete(boardseq=${board.boardseq})}">삭제</a> 
						</th:block>
					</div>
				</div>
			</div>
				
			<!-- 댓글 작성 폼 -->
			<div class="reply-area1">
				<h3>댓글<span th:text="${board.replycnt}"></span></h3>
				<form class="reply-write-area" th:action="@{/reply/replywrite}" method="post">
					<div class="replytxt-area">
						<input type="text" id="replytxt" class="replytxt" name="replytxt" placeholder="댓글을 남겨주세요">
					</div>
					<input type="hidden" name="boardseq"  th:value="${board.boardseq}">
					<input type="hidden" name="membername" th:value="${membername}">
					<input type="hidden" name="memberid" th:value="${memberid}">
					<button type="submit" class="reply-submit">댓글 쓰기</button>
				</form>
			</div>
				
			<!-- 댓글 목록 -->
			<div class="reply-area2">
				<div class="reply-list-title">댓글 보기</div>
				<div th:each="reply : ${replylist}" class="reply-list-area">
					<input type="hidden" name="boardseq" id="boardseq" th:value="${board.boardseq}">
					<div id="membername" th:text="${reply.membername}" class="reply-list-membername"></div>
					<div id="replytxt" th:text="${reply.replytxt}" class="reply-list-replytxt"></div>
					<div id="regdate" th:text="${reply.regdate}" class="reply-list-regdate"></div>
					
					<div class="reply-list-del">
						<th:blok th:if="${membername} == ${reply.membername}">
							<form th:action="@{/reply/replydelete}" method="POST">
								<input type="hidden" name="replyseq" th:value="${reply.replyseq}">
								<input type="hidden" name="boardseq"  th:value="${board.boardseq}">
								<input type="image" th:src="@{/images/delete-i.JPG}" alt="댓글 삭제하기">
							</form>
						</th:blok>
					</div>
					
					<div class="reply-list-bottom"></div>
				</div>
			</div>
			
			<!-- HIT 글 목록 -->
			<div class="hit-area">
				<div class="hit-title"><h3>오늘의 HIT!</h3></div>
				<div class="hit-list-area">
					<div th:each="crawlingData : ${hitList}">
						<ul class="hit-list">
							<li class="hit-l">
								<a th:href="${crawlingData.link}">
						            <span><img th:src="${crawlingData.image}" /></span>
						            <span class="hit-title2" th:text="${crawlingData.title}"></span>
						        </a>
							</li>
						</ul>
					</div>
				</div>
				
				<!-- BEST 긂 목록 -->
				<div class="best-area">
					<h3 class="best-title">오늘의 베스트</h3>
					<div class="best-list-area">
						<div th:each="crawlingData : ${viewsSortedBestList}" class="best-list">
							<div th:text="${crawlingData.kind}" class="best-list-kind"></div>
							<div th:text="${crawlingData.title}" class="best-list-title"></div>
							<div class="best-bottom-list">
								<div th:text="${crawlingData.membername}" class="best-list-membername"></div><div class="bar">|</div>
								<div class="best-list-viewscnt">조회수</div>
								<div th:text="${crawlingData.viewscnt}" class="best-list-viewscnt"></div>
								<div class="best-list-likecnt-tit">좋아요</div>
								<div th:text="${crawlingData.likecnt}" class="best-list-likecnt"></div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
				
		</div>
		
		
		<div id="right">
			<div class="recommend-area">
				<h1>추천하는 글</h1>
				<div th:each="recommendlist : ${recommendlist}" class="recommend-title-area">
					<p><span>•</span><a th:href="@{/read(boardseq=${recommendlist.boardseq})}" th:text="${recommendlist.title}"></a></p>
				</div>
			</div>
		</div>
		
	</div>
	
	<!-- 밑 영역 -->
	<div id="footer">
		<div class="footer-area">
			<div class="f-logo"><a th:href="@{/}"><img src="images/meltingLogo.JPG"></a></div>
			<div class="footer-list">
				<a th:href="@{#}">서비스소개 &nbsp;&nbsp;|&nbsp;&nbsp;</a>
				<a th:href="@{#}">공지사항 &nbsp;&nbsp;|&nbsp;&nbsp;</a>
				<a th:href="@{#}">연락처 &nbsp;&nbsp;|&nbsp;&nbsp;</a>
				<a th:href="@{#}">신고가이드</a>
			</div>
		</div>
	</div>
	
</body>
</html>