<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmls:sec="http://www.thymelef.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Melting | 통합 유머 커뮤니티</title>
<link rel="stylesheet" type="text/css" th:href="@{css/board/read.css}">
<script th:src="@{/script/jquery-3.6.3.min.js}"></script>
<script th:src="@{/script/reply.js}"></script>
</head>
<body>
	<div id="header">
		<div class="header-area">
			<div class="logo"><a th:href="@{/}"><img src="images/meltingLogo.JPG"></a></div>
			<div class="menu">
				<div class="home"><a th:href="@{/board/bestlist}">홈</a></div>
				<div class="all"><a th:href="@{/board/newlist}">전체</a></div>
				<div class="humor">유머</div>
				<div class="game">게임</div>
				<div class="sports">스포츠</div>
			</div>
			<div class="write">
				<a th:href="@{/write}">글쓰기</a>
			</div>
 			<div class="my">
 				<div class="login" sec:authorize="not isAuthenticated()"><a href="#" th:href="@{/loginForm}">로그인</a></div>
 				<div class="myid" sec:authorize="isAuthenticated()"><a th:href="@{/mypage}" th:text="${membername} + '님'"></a></div>
 			</div>				
		</div>
	</div>
	
	<div id="container">
	
		<div id="left">
			<div class="top-area">
				<span th:if="${board.kind=='free'}">자유</span>
				<span th:if="${board.kind=='humor'}">유머</span>
				<span th:if="${board.kind=='game'}">게임</span>
				<span th:if="${board.kind=='sports'}">스포츠</span>
				<h2 th:text="${board.title}"></h2>
				
				<div class="name-area">
					<span th:text="${board.membername}"></span>
				</div>
				
				<div class="info-area">
					<div class="boardlist-regdate-area">
						<div class="boardlist-regdate-i"><img th:src="@{/images/regdate-i.JPG}"></div>
						<div th:text="${board.regdate}" class="boardlist-regdate-num"></div>
					</div>
					<div class="boardlist-views-area">
						<div class="boardlist-views-i"><img th:src="@{/images/views-i.JPG}"></div>
						<div th:text="${board.viewscnt}" class="boardlist-views-num"></div>
					</div>
					<div class="boardlist-reply-area">
						<div class="boardlist-reply-i"><img th:src="@{/images/reply-i.JPG}"></div>
						<div th:text="${board.replycnt}" class="boardlist-reply-num"></div>
					</div>
				</div>
			</div>	
				<div class="content-area">
					<div th:utext="${board.content}"></div>
					
					<div class="content-info-area">
						<div class="content-info2-area">
							<div class="content-info2-i"><img th:src="@{/images/like-i2.JPG}"></div>
							<div th:text="${board.likecnt}" class="content-info2-num"></div>
						</div>
						<div class="content-info2-area">
							<div class="content-info2-i"><img th:src="@{/images/reply-i2.JPG}"></div>
							<div th:text="${board.replycnt}" class="content-info2-num"></div>
						</div>
					</div>
				</div>
				
				<!-- 댓글 작성 폼 -->
				<div class="reply-area1">
					<h3>댓글</h3>
					<form class="reply-write-area" th:action="@{/reply/replywrite}" method="post">
						<div class="replytxt-area">
							<input type="text" id="replytxt" class="replytxt" name="replytxt" placeholder="댓글을 남겨주세요">
						</div>
						<input type="hidden" name="boardseq"  th:value="${board.boardseq}">
						<input type="hidden" name="membername" th:value="${membername}">
						<button type="submit" class="reply-submit">댓글 쓰기</button>
					</form>
				</div>
				
				<!-- 댓글 목록 -->
				<div class="reply-area2">
					<div class="reply-list-title">댓글 보기</div>
					<div th:each="reply : ${replylist}" class="reply-list-area">
						<input type="hidden" name="boardseq" id="boardseq" th:value="${board.boardseq}">
						<div id="membername" th:text="${reply.membername}" class="reply-list-membername"></div>
						<div id="replytxt" th:text="${reply.replytxt}" class="reply-list-replytxt"></div>
						<div id="regdate" th:text="${reply.regdate}" class="reply-list-regdate"></div>
						<div class="reply-list-del">
							<th:blok th:if="${membername} == ${reply.membername}">
							<a th:href="@{/reply/replydelete(replyseq=${reply.replyseq})}"><img th:src="@{/images/delete-i.JPG}"></a>
							</th:blok>
						</div>
						<div class="reply-list-bottom"></div>
					</div>
				</div>	
			
		</div>
		
		
		<div id="right">
			<h1>오른쪽</h1>
		</div>
	</div>
	
</body>
</html>