@charset "UTF-8";
@font-face {
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-family: 'Roboto','Noto Sans KR',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
	font-size:14px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: black;
	user-select: none;
	font-family: 'Roboto','Noto Sans KR',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
	
}

a {
	text-decoration: none;
}


#header {
	height:80px;
	width:100%;
	border-bottom: 1px solid #d4d4d4;
}

.header-area {
	width: 1140px;
	position:relative;
	margin: 0 auto;
	height:100%;
}

.logo {
	position:absolute;
	top:24px;
}

.logo img {
	width:150px;
	
}

.menu {
	position:absolute;
    top: 30px;
    left: 230px;
	
}

.home {
    width: 75px;
	float: left;
	font-size: 20px;
}

.humor a {
	font-weight: bold;
}

.all {
	margin-left:-8px;
	color:black;
	float: left;
	width: 75px;
	font-size: 20px;
	
}


.humor {
	margin-left:5px;
	color:black;
	float: left;
	width: 75px;
	font-size: 20px;	
}

.sports {
	margin-left:5px;
	color:black;
	float: left;
	width: 75px;
	font-size: 20px;	
}

.game {
	margin-left:5px;
	color:black;
	float: left;
	width: 75px;	
	font-size: 20px;
}


.write {
	width: 50px;
	top:30px;
	position: absolute;
	right: 90px;
	text-align: center;
	width: 82px;
    height: 40px;
    font-size: 14px;
    line-height: 38px;
    background-color:#0090F9;
    border-radius: 6px;
    
}

.write a {
	font-weight: bold;
	color:white;
}

.my {
	position:absolute;
	top:30px;
	right:1px;
	display: inline-block;
	width: 82px;
    height: 40px;
	font-size: 14px;
    line-height: 38px;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
}


.login {
	float:left;
	width:100%;
    height: 40px;
    font-weight: bold;
    text-align: center;
}

.login a {
	text-align: center;
	
}

.myid {
	float:left;
	width:100%;
 	font-weight: bold;
	text-align: center;
	
}

.myid a {
	text-align: center;
	
}


.search{
	height:60px;
	position:absolute;
	margin-top: 25px;
    left: 685px;
}

.search-icon {
	width:30px;
	height:30px;
	position:absolute;
    top: 13px;
    left: 19px;
}

.search-icon img {
	width:20px;
	height:20px;
}

.form-control {
	color:gray;
    padding: 0 10px 0 41px;
    border:1px solid #d4d4d4;
    border-radius: 20px;
    font-size: 14px;
    padding: 0 10px 0 62px;
    width: 260px;
    height: 40px;
}


#container {
	width: 1140px;
	position:relative;
	margin: 35px auto 0;
	display:flex;
	overflow:hidden;
	margin-top: 5px;
}

#container2 {
	width: 1140px;
	position:relative;
	margin: 35px auto 0;
	display:flex;
	min-height:830px;
	overflow:hidden;
}

.boardlist-area {
	width:1150px;
    padding: 40px 20px 0;
    margin: 0 auto;

}

.boardlist-sort {
	width:100%;
	height:40px;
	border-bottom:1px solid #d4d4d4;
	letter-spacing: -1px;
}


.boardlist {
	width:550px;
	height:170px;
	float:left;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding-left: 20px;
}

.boardlist-kind {
    width: 100%;
    height: 20px;
    margin-top: 15px;
    font-size:13px;
}

.boardlist-middle {
	width:100%;
	min-height:98px;
}

.boardlist-middle2 {
	width:100%;
	min-height:98px;
}

.boardlist-title {
    height: 52px;
    max-height: 52px;
    margin-top: 1px;
    font-size: 18px;
    line-height: 1.4em;
    padding-right: 5px;
    display: block;
    width: 430px;
    float:left;
}

.boardlist-title2 {
    height: 52px;
    max-height: 52px;
    margin-top: 1px;
    font-size: 18px;
    line-height: 1.4em;
    padding-right: 5px;
    display: block;
}

.boardlist-membername {
    font-size: 14px;
    width: 430px;
    float:left;
}

.boardlist-membername2 {
    font-size: 14px;
}

.boardlist-img {
	width:80px;
	height:80px;
	float:right;
    margin-top: -52px;
    margin-right: 15px;
}

.boardlist-img img {
	width:80px;
	height:80px;
}

.boardlist-bottom {
	height:30px;
}


.boardlist-reply-area {
	float:left;
	width: 70px;
}

.boardlist-reply-i {
	float:left;
}

.boardlist-reply-i img {
	width:16px;
	height:16px;
	margin-top: 10px;
}

.boardlist-reply-num {
	padding:2px;
	color:#94969B;
	font-size:14px;
	float:left;
	padding-top: 7.5px;
}
	

.boardlist-like-area {
	float:left;
	width: 70px;
}

.boardlist-like-i {
	float:left;
}

.boardlist-like-i img {
	width:16px;
	height:16px;
	margin-top: 10px;
}

.boardlist-like-num {
	padding:2px;
	color:#94969B;
	font-size:14px;
	float:left;
	padding-top: 7.5px;
	
}

.boardlist-views-area {
	float:left;
	width: 70px;
}

.boardlist-views-i {
	float:left;
}

.boardlist-views-i img {
	width:16px;
	height:16px;
	margin-top: 10px;
}

.boardlist-views-num {
	padding:2px;
	color:#94969B;
	font-size:14px;
	float:left;
	padding-top: 7.5px;
	
}

.boardlist-regdate {
    padding-top: 7.5px;
	float:right;
	color:#94969B;
	font-size:14px;
    padding-right: 7px;
}



#footer {
	width:100%;
	height:80px;
	border-top:1px solid #d4d4d4;
	margin-top: 120px;
}

.footer-area {
	margin: 0 auto;
	margin-top:20px;
	width: 1140px;
    position: relative;
    height: 100%;
}

.f-logo {
	width:150px;
	float:left;
	
}

.f-logo img {
	width:150px;
	
}

.footer-list {
	position:absolute;
	left:300px;
	float:left;
	top: 12px;
	
}

.footer-list a {
	color: #94969b;
}