@charset "UTF-8";
@font-face {
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-family: 'Roboto','Noto Sans KR',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
	font-size:14px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: black;
	user-select: none;
	font-family: 'Roboto','Noto Sans KR',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
	
}

a {
	text-decoration: none;
}


#header {
	height:80px;
	width:100%;
	border-bottom: 1px solid #d4d4d4;
}

.header-area {
	width: 1140px;
	position:relative;
	margin: 0 auto;
	height:100%;
}

.logo {
	position:absolute;
	top:24px;
}

.logo img {
	width:150px;
	
}

.menu {
	position:absolute;
    top: 30px;
    left: 230px;
	
}

.home {
	width: 80px;
	float: left;
	font-size: 20px;
}

.home a {
	font-weight: bold;
}

.all {
	margin-left:5px;
	color:black;
	float: left;
	width: 80px;
	font-size: 20px;
	
}

.humor {
	margin-left:5px;
	color:black;
	float: left;
	width: 80px;
	font-size: 20px;	
}

.sports {
	margin-left:5px;
	color:black;
	float: left;
	width: 80px;
	font-size: 20px;	
}

.game {
	margin-left:5px;
	color:black;
	float: left;
	width: 80px;	
	font-size: 20px;
}


.write {
	width: 50px;
	top:30px;
	position: absolute;
	right: 90px;
	text-align: center;
	width: 82px;
    height: 40px;
    font-size: 14px;
    line-height: 38px;
    background-color:#da3238;
    
}

.write a {
	font-weight: bold;
	color:white;
}

.my {
	position:absolute;
	top:30px;
	right:1px;
	display: inline-block;
	width: 82px;
    height: 40px;
	font-size: 14px;
    line-height: 38px;
    border: 1px solid #d4d4d4;
}


.login {
	float:left;
	width: 82px;
    height: 40px;
    font-weight: bold;
}


.myid {
	float:left;
	width:100%;
	text-align: center;
	
}

.myid a {
	text-align: center;
	
}

#container {
	width: 1140px;
	position:relative;
	margin: 35px auto 0;
	display:flex;
}



#left {
	width:730px;
	height:100%;
	float:left;
}


.search{
	height:60px;
	position:relative;
	margin-top: 25px;
}

.search-icon {
	width:56px;
	height:56px;
	position:absolute;
    top: 18px;
    left: 19px;
}

.form-control {
	width: 730px;
    height: 60px;
	color:gray;
    border: 2px solid #222;
    border-radius: 30px;
    font-size: 18px;
    padding: 0 10px 0 62px;
}


.board {
	position:relative;
	width:100%;
	height:450px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.board-top {
	height:40px;
	width:100%;
	border-bottom:1px solid #d4d4d4;
	margin-bottom: 15px;
}

.board-title {
	float:left;
}

.board-more {
	float:left;
	position:absolute;
	right:0px;
	top:10px;
	font-size: 13px;
}


.boardlist {
	width:100%;
	margin-bottom: 20px;
	line-height: 30px;
	font-size:14.5px;
	
	
}

.boardlist table {
	width:100%;
}

.boardlist-kind {
	border : 1px solid #eee;
	text-align:center;
	font-size:12px;
	float:left;
	margin-right: 8px;
    padding: 0px 6px 0px 6px;
	
}

.boardlist-title {
	float:left;
}

.boardlist-reply-area {
	float:left;
	width: 35px;
}

.boardlist-reply-i {
	float:left;
}

.boardlist-reply-i img {
	width:16px;
	height:16px;
	margin-top: 10px;
}

.boardlist-reply-num {
	padding:2px;
	color:#94969B;
	font-size:12px;
	float:left;
	
}

.boardlist-like-area {
	float:left;
	width: 35px;
}

.boardlist-like-i {
	float:left;
}

.boardlist-like-i img {
	width:16px;
	height:16px;
	margin-top: 10px;
}

.boardlist-like-num {
	padding:2px;
	color:#94969B;
	font-size:12px;
	float:left;
}



.hit-area {
	width:100%;
	height:280px;
}

.hit-title {
	border-bottom:1px solid #d4d4d4;
	margin-bottom:15px;
	height: 40px;
}

.hit-list {
     list-style:none;
}

.hit-list li {
	position:relative;
	float:left;
}

.hit-l {
	height:114px;
	width:auto;
}

.hit-l img {
	height:114px;
    width: 180px;
    margin: 0px 1px 0px 1px;
}

.hit-title2 {
    width: 171px;
    height: 42px;
    position:absolute;
    top:120px;
    left:1px;
    font-weight: 600;
}

.side-board-1 {
	height:300px;
	width:100%;
}

.all-area {
	font:14px;
	line-height: 30px;
	float:left;
	height:100%;
}

.all-title-area {
    border-bottom:1px solid #d4d4d4;
	margin-bottom:15px;
	height:40px;
	
}

.all-title {
    float:left;
}

.all-title-more {
	float:right;
	font-size:12px;
	margin-right:5px;
}

.all-list {
    margin-bottom: 80px;
	
}

.all-title2 {
	display:inline-block;
	width: 285px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:14.5px;
}

.all-views-area {
	width:52px;
	float:left;
}

.all-views-i {
	float:left;
}

.all-views-i img {
	width:16px;
	height:16px;
	margin-top: 7.5px;
}

.all-views-num {
	font-size:12px;
	color:#94969B;
}


.humor-area {
	float:left;
	width:350px;
	height:100%;
	font:14px;
	line-height: 30px;
	margin-left:23px;
}

.side-board-2 {
	margin-top:40px;
	height:270px;
	width:100%;
	margin-bottom:100px;
}

.game-area {
	float:left;
	width:350px;
	height:100%;
	font:14px;
	line-height: 30px;
	
}

.sports-area {
	float:left;
	width:350px;
	height:100%;
	font:14px;
	line-height: 30px;
	margin-left:23px;
}



#right {
    width: 300px;
    margin-left: 64px;
}


.bestsearch {
    width: 300px;
    height: 400px;
    margin-top: 120px;
    background-color: #f8f8f8;
}

.bestsearch h3 {
	padding: 22px 21px 0px;
}

.bestsearch-list {
    margin-bottom: 24px;
    padding: 22px 21px 14px;
}

.bestsearch-list p {
	padding:0px 10px 10px 0px;
}

.bestsearch-list span {
	display: inline-block;
	color: #94969b;
	width: 20px;
    margin-right: 10px;
    text-align:center;
	
}

.bestkeyword {
	width:248px;
	position: relative;
	margin-top: 40px;
}

.bestkeyword-list {
	background-color:lightgray;
	border:1px solid gray;
}

#footer {
	width:100%;
	height:80px;
	border-top:1px solid #d4d4d4;
}

.footer-area {
	margin: 0 auto;
	margin-top:20px;
	width: 1140px;
    position: relative;
    height: 100%;
}

.f-logo {
	width:150px;
	float:left;
	
}

.f-logo img {
	width:150px;
	
}

.footer-list {
	position:absolute;
	left:300px;
	float:left;
	top: 12px;
	
}

.footer-list a {
	color: #94969b;
}



