<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmls:sec="http://www.thymelef.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Melting | 통합 유머 커뮤니티</title>
<link rel="stylesheet" type="text/css" th:href="@{css/mypage/mypage.css}">
<script th:inline="javascript" th:src="@{/script/jquery-3.6.3.min.js}"></script>
<script th:inline="javascript" th:src="@{/script/updatemember.js}"></script>
</head>
<body>
	<div id="header">
		<div class="header-area">
			<div class="logo"><a th:href="@{/}"><img src="images/meltingLogo.JPG"></a></div>
			<div class="menu">
				<div class="home"><a th:href="@{/board/bestlist}">홈</a></div>
				<div class="all"><a th:href="@{/board/newlist}">전체</a></div>
				<div class="humor">유머</div>
				<div class="game">게임</div>
				<div class="sports">스포츠</div>
			</div>
			<div class="write">
				<a th:href="@{/write}">글쓰기</a>
			</div>
 			<div class="my">
 				<div class="login" sec:authorize="not isAuthenticated()"><a href="#" th:href="@{/loginForm}">로그인</a></div>
 				<div class="myid" sec:authorize="isAuthenticated()"><a th:href="@{/mypage}" th:text="${membername} + '님'"></a></div>
 			</div>				
		</div>
	</div>
	
	<div id="container">
		<div id="left">
			<h2 class="left-tit">마이페이지</h2>
			<div class="menu-area">
				<div class="menu-myinfo"><a th:href="@{#}">회원 정보</a></div>
				<div class="menu-mywrite"><a th:href="@{/mypage/mywrite(membername=${membername})}">내가 쓴 글</a></div>
				<div class="menu-myreply"><a th:href="@{/mypage/myreply(membername=${membername})}">내가 단 댓글</a></div>
				<div class="menu-logout" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></div>
			</div>
			
		</div>
		
		<div id="right">
			<h2>회원 정보</h2>
			<div class="right-top-area">
				<div class="myinfo-area">
					<div class="myinfo-tit">아이디</div>
					<div sec:authorize="isAuthenticated()" class="myinfo-content">[[${#authentication.name}]]</div>
				</div>
				
				<form th:action="@{/mypage/updatename}" method="POST" onsubmit="return validateForm();">
				<input type="hidden" th:value="${memberid}" name="memberid">
					<div class="myinfo-area">
						<div class="myinfo-tit">닉네임</div>
						<div class="myinfo-content">
							<input th:value="${membername}" name="membername" id="membername" oninput="checkNameLength();" onblur="checkNameDuplicate();">
						</div>
						<span class="nickname-submit"><input type="submit" value="닉네임변경"  onclick="return validateNickname();" id="submitButton"></span>
			           	<span id="checkResult" class="check-result"></span>
					</div>				
				</form>
				
			</div>
			<div class="right-bottom-area">
				<!-- <form th:action="@{/mypage/deletemember}">
					<input type="hidden" th:value="${memberid}" name="memberid">
					<div class="accountdrop"><input type="submit" value="회원탈퇴"></div>
				</form> -->
			</div>
		</div>
	</div>
	
	<!-- 밑 영역 -->
	<div id="footer">
		<div class="footer-area">
			<div class="f-logo"><a th:href="@{/}"><img src="images/meltingLogo.JPG"></a></div>
			<div class="footer-list">
				<a th:href="@{#}">서비스소개 &nbsp;&nbsp;|&nbsp;&nbsp;</a>
				<a th:href="@{#}">공지사항 &nbsp;&nbsp;|&nbsp;&nbsp;</a>
				<a th:href="@{#}">연락처 &nbsp;&nbsp;|&nbsp;&nbsp;</a>
				<a th:href="@{#}">신고가이드</a>
			</div>
		</div>
	</div>	
	
	
</body>
</html>